build
node_modules/
.vscode/
coverage*
.nyc_output
.DS_Store
.migrate.json
.idea/
uploads/
.serverless
mongoMigration/oldVersioningMigrationFiles/*
main.py
.env
.env*
__pycache__/
# Excluding this because Porter deployment fails due to package-lock.json
package-lock.json
.graphqlconfig
schema.graphql
