build
node_modules/
.vscode/
coverage*
.nyc_output
.DS_Store
.migrate.json
.idea/
uploads/
.serverless
mongoMigration/oldVersioningMigrationFiles/*
main.py
# .env files
.env
.env*
!.env.example
*.log
__pycache__/
.graphqlconfig
schema.graphql
sdk/
var