<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />

</head>
<body style="margin: 0; padding: 0; background: #f9fefe;"></body>
<table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 30px; max-width: 920px; width: 100%; background-size: cover; background-repeat: no-repeat; background-image: url('https://tekie-backend.s3.amazonaws.com/python/email/invoiceBackground.png')">
    <tr style="width: 100%; height: 100%;">
        <td style="width: 100%; height: 100%;">
            <table style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.7); padding: 30px;">
                <tr>
                    <td>
                        <img width="84" height="29.3" src="https://tekie-backend.s3.amazonaws.com/python/email/tekieLogo.png" />
                    </td>
                </tr>
                <tr align="left">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 33px solid transparent;">
                        Hello <span style="color: #00ADE6;"><%= parentName %></span>,
                    </td>
                </tr>

                <tr align="left">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 5px solid transparent;">
                        Your session booking for <span style="color: #00ADE6;"><%= name %></span> <%- action === 'add' ? 'is confirmed. Please find the session details below.' :
                        'has been rescheduled. Please find the updated session details below.'%>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="width: 100%; border-top: 30px solid transparent;" align="center">
                        <img src="<%= topicThumbnail %>" width="136" height="161"></img>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td align="center" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: #504F4F; opacity: 0.85">
                        <%= topicTitle %>
                    </td>
                </tr>
                <tr style="width: 100%;">
                    <td style="width: 100%; border-top: 15px solid transparent;" align="center">
                        <table style="width: 158px;">
                            <tr>
                                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: #504F4F;">
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/iconCalendar.png" style="margin-right: 5px;" width="28.3" height="28.3"></img>
                                </td>
                                <td align="left" style=" margin-right: 10px;font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: #504F4F; opacity: 0.85">
                                    <span><%= date %></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="width: 100%; border-top: 12px solid transparent;" align="center">
                        <table style="width: 260px;">
                            <tr>
                                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: #504f4f;">
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/clock.png" width="28.3" height="28.3" style="margin-right: 5px;"></img>
                                </td>
                                <td align="left" style=" margin-right: 10px;font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px; color: #504F4F; opacity: 0.85">
                                    <span><%= startTime %> - <%= endTime %></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 20px; color: #00ade6;">
                        Important:
                    </td>
                </tr>
                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 15px solid transparent; font-size: 18px; color: #504f4f;">
                        You will need the following to attend this session:
                    </td>
                </tr>


                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 0px solid transparent; font-size: 18px; color: #504f4f;">
                        <table cellpadding="2" cellspacing="2" border="0" style="margin-left:28px;">
                            <tr>
                                <td>
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/checkmark.png" width="16.2" height="11.4"  style="margin-right: 6px; margin-top: 3px" />
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Laptop or a desktop computer.</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/checkmark.png" width="16.2" height="11.4"  style="margin-right: 6px; margin-top: 3px" />
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Stable internet connection</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/checkmark.png" width="16.2" height="11.4"  style="margin-right: 6px; margin-top: 3px" />
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Webcam with microphone</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/checkmark.png" width="16.2" height="11.4"  style="margin-right: 6px; margin-top: 3px" />
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Google Chrome</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://tekie-backend.s3.amazonaws.com/python/email/checkmark.png" width="16.2" height="11.4"  style="margin-right: 6px; margin-top: 3px" />
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Zoom (if not installed, <a href="https://zoom.us/download" style="color:#00ade6; ">click here</a> to do so).</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 20px; color: #00ade6;">
                        Instructions:
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 15px solid transparent; font-size: 18px; color: #504f4f;">
                        Please note the following around the session:
                    </td>
                </tr>


                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 0px solid transparent; font-size: 18px; color: #504f4f;">
                        <table cellpadding="2" cellspacing="2" border="0" style="margin-left:28px;">
                            <tr valign="top">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">
                                    1.
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">You will receive the meeting link for Zoom, 30 minutes prior to the session.</td>
                            </tr>
                            <tr valign="top">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">
                                    2.
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">Ensure you are in the meeting 5 minutes prior to your scheduled time.</td>
                            </tr>
                            <tr valign="top">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">
                                    3.
                                </td>
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">You will be requested to share your screen and enable the remote control access
                                    for the mentor in order to login to the session and also to assist the student during
                                    the session.</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">
                        If you are unable to attend the session, you can reschedule or cancel the session by going <a href="https://www.tekie.in/sessions" style="color:#00ade6; ">here</a>.
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">
                        See you there,
                    </td>
                </tr>
                <tr style="width: 100%;">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">
                        Tekie.
                    </td>
                </tr>

                <tr align="left">
                    <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-weight: 300; font-size: 16px; color: #504F4F;">
                        If you have any queries, contact us at <a href="mailto:hello@tekie.in" style="color:#00ADE6">hello@tekie.in</a>
                    </td>
                </tr>

                <tr style="width: 100%;">
                    <td style="border-top: 15px solid transparent; width: 100%;"></td>
                </tr>
                <tr style="width: 100%;">
                    <td style="border-bottom: 1px solid rgba(0,0,0,0.22); width: 100%;"></td>
                </tr>
                <tr style="width: 100%;">
                    <td style="border-bottom: 15px solid transparent; width: 100%;"></td>
                </tr>

                <tr style="width: 100%;">
                    <td style="width: 100%;">
                        <table style="width: 100%;">
                            <tr align="left">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    Kiwhode Learning Private Limited
                                </td>
                                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    <a href="https://www.tekie.in" style="color: #504F4F; text-decoration: none;">www.tekie.in</a>
                                </td>
                            </tr>

                            <tr align="left">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    <span style="font-weight: 500;">Corporate Head Office</span> - Gurgaon
                                </td>
                                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    <table style='margin-left: 18px;'>
                                        <tr align="right">
                                            <td style="border-right: 1px solid #504F4F; width: 62px; padding-right: 10px;">
                                                <a href="https://www.tekie.in/privacy" style="color: #504F4F;">Privacy</a>
                                            </td>
                                            <td align="right" style="border-right: 1px solid #504F4F; width: 43px; padding-left: 10px; padding-right: 10px;">
                                                <a href="https://www.tekie.in/terms" style="color: #504F4F;">Terms</a>
                                            </td>
                                            <td align="right" style=" padding-left: 5px;">
                                                <a href="https://www.tekie.in/refund" style="color: #504F4F;">Refunds</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr align="left">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    1st floor, M 2/37 B, DLF Phase 2
                                </td>
                            </tr>

                            <tr align="left">
                                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                                    Opp. Timeless Garden park, Gurgaon.
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
</body>
