<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
  <tr>
      <td valign="middle" class="bg_black footer email-section" style="background: #191B1C; padding: 30px;">
          <table>
              <tr>
                  <td valign="top" width="33.333%">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: center; opacity: 0.6;color: #c6c6c6;">
                                  <a href="<%= tekieLink %>/terms" style="font-family: Lato, 'Open Sans', Helvetica, Roboto, sans-serif; color: #c6c6c6; font-size: 14px; font-weight: regular; border-bottom: 1px solid #C6C6C6; padding-bottom: 2px; text-transform: uppercase; text-decoration: none;">VIEW T&C</a>
                                  <span>
                                      &nbsp;&nbsp;|&nbsp;&nbsp;
                                  </span>
                                  <a href="<%= tekieLink %>" style="font-family: Lato,'Open Sans', Helvetica, Roboto, sans-serif; color: #c6c6c6; font-size: 14px; font-weight: regular; border-bottom: 1px solid #C6C6C6; padding-bottom: 2px; text-transform: uppercase; text-decoration: none"><%= tekieText %></a>
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
              <tr>
                  <td valign="top" width="33.333%">
                      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                          <tr>
                              <td style="text-align: center;">
                                  <div style='display: inline-block; margin-top: 25px;'>
                                      <a href='https://www.facebook.com/Tekie.in/' target='_blank' style='text-decoration: none;'>
                                          <div style='display: inline-block; width: 38px; height: 38px; background-image: url(https://tekie-backend.s3.amazonaws.com/python/email/facebookGreyIcon.png); background-size: cover; margin-right: 30px;'></div>
                                      </a>
                                      <a href='<%= instagramLink %> ' target='_blank' style='text-decoration: none;'>
                                          <div style='display: inline-block; width: 38px; height: 38px; background-image: url(https://tekie-backend.s3.amazonaws.com/python/email/instagramGreyIcon.png); background-size: cover; margin-right: 30px;'></div>
                                      </a>
                                      <a href='https://www.linkedin.com/company/tekie' target='_blank' style='text-decoration: none;'>
                                          <div style='display: inline-block; width: 38px; height: 38px; background-image: url(https://tekie-backend.s3.amazonaws.com/python/email/linkedinGreyIcon.png); background-size: cover; margin-right: 30px;'></div>
                                      </a>
                                      <a href='https://www.youtube.com/channel/UCCr7GPlTdZRXFEfveeuKcbg' target='_blank' style='text-decoration: none;'>
                                          <div style='display: inline-block; width: 38px; height: 38px; background-image: url(https://tekie-backend.s3.amazonaws.com/python/email/youtubeGreyIcon.png); background-size: cover;'></div>
                                      </a>
                                  </div>
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>

</table>