<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body style="margin: 0; padding: 0; background: #f9fefe;"></body>
<table border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 30px; max-width: 920px; width: 100%; background-size: cover; background-repeat: no-repeat; background-image: url('https://tekie-backend.s3.amazonaws.com/python/email/invoiceBackground.png')">
  <tr style="width: 100%; height: 100%;">
    <td style="width: 100%; height: 100%;">
      <table style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.7); padding: 30px;">
        <tr align="center">
          <td>
            <img width="84" height="29.3" src="https://tekie-backend.s3.amazonaws.com/python/email/tekieLogo.png" />
          </td>
        </tr>
        <tr align="center">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 22px; color: #504F4F; border-top: 25px solid transparent;">
            Welcome, <span style="color: #00ADE6;"><%= parentName %>.</span>
          </td>
        </tr>
        <tr align="left">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 5px solid transparent;">
            Congrats to you and <span style="color: #00ADE6;"><%= childName %></span> on joining our fast-growing community of students and mentors. We are happy to have you on board.
          </td>
        </tr>
        <tr align="left">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-weight: 400; font-size: 18px; color: #504F4F;">
            Take your first step by booking your free trial session.
          </td>
        </tr>
        <tr align="left">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F;">
            We recommend you book at the earliest as we have limited spots available!
          </td>
        </tr>
        <tr align="left">
          <td align="center" style="width: 100%; border-top: 30px solid transparent;">
            <table style="border: 0.5px solid #31E1E9; width: 290px; height: 292.2px; border-radius: 15px;">
              <tr align="center">
                <td style="border-top: 30px solid transparent;">
                  <img src="https://tekie-backend.s3.amazonaws.com/python/email/drops.png" width="189" height="134" />
                </td>
              </tr>
              <tr align="center">
                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 22px; color: #00ade6; border-top: 0px solid transparent;">
                  Book your free session!
                </td>
              </tr>
              <tr align="center" style="border-top: 17px solid transparent;">
                <td style="border-bottom: 15px solid transparent;">
                  <a href="https://www.tekie.in/sessions" style="text-decoration: none;">
                    <table style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 600; font-size: 16px; color: #ffffff; padding: 6px 25px;  border-radius: 28px;  background-image: linear-gradient(to bottom, #34e4ea, #00ade6); box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);">
                      <tr>
                        <td>
                          Get Started!
                        </td>
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="width: 100%;">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">
            See you there,
          </td>
        </tr>
        <tr style="width: 100%;">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">
            Tekie.
          </td>
        </tr>
        <tr align="left">
          <td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-weight: 300; font-size: 16px; color: #504F4F;">
            If you have any queries, contact us at <a href="mailto:hello@tekie.in" style="color:#00ADE6">hello@tekie.in</a>
          </td>
        </tr>
        <tr style="width: 100%;">
          <td style="border-top: 15px solid transparent; width: 100%;"></td>
        </tr>
        <tr style="width: 100%;">
          <td style="border-bottom: 1px solid rgba(0,0,0,0.22); width: 100%;"></td>
        </tr>
        <tr style="width: 100%;">
          <td style="border-bottom: 15px solid transparent; width: 100%;"></td>
        </tr>
        <tr style="width: 100%;">
          <td style="width: 100%;">
            <table style="width: 100%;">
              <tr align="left">
                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  Kiwhode Learning Private Limited
                </td>
                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  <a href="https://www.tekie.in" style="color: #504F4F; text-decoration: none;">www.tekie.in</a>
                </td>
              </tr>
              <tr align="left">
                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  <span style="font-weight: 500;">Corporate Head Office</span> - Gurgaon
                </td>
                <td align="right" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  <table style='margin-left: 18px;'>
                    <tr align="right">
                      <td style="border-right: 1px solid #504F4F; width: 62px; padding-right: 10px;">
                        <a href="https://www.tekie.in/privacy" style="color: #504F4F;">Privacy</a>
                      </td>
                      <td align="right" style="border-right: 1px solid #504F4F; width: 43px; padding-left: 10px; padding-right: 10px;">
                        <a href="https://www.tekie.in/terms" style="color: #504F4F;">Terms</a>
                      </td>
                      <td align="right" style=" padding-left: 5px;">
                        <a href="https://www.tekie.in/refund" style="color: #504F4F;">Refunds</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr align="left">
                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  1st floor, M 2/37 B, DLF Phase 2
                </td>
              </tr>
              <tr align="left">
                <td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
                  Opp. Timeless Garden park, Gurgaon.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- <tr>
     <td>Content of column 1 </td>
     <td>Content of column 2 </td>
     </tr> -->
</table>
</body>
