Dear <%= parentName %>,<br/><br/>

Congratulations! <%= studentName %>'s free coding class has been scheduled:<br/><br/>

Timing: <%= sessionDateTime %><br/>
<span style='font-weight: bold;'>Session 1</span>: Intro to Programming(Ep 1): Code your first program in Python<br/><br/>

Kindly join the class with the link you'll receive 3 hours before the class.<br/>

We request you to be ready 10 minutes before the class starts.<br/><br/>

Need to reschedule this class? Do it with your app [https://www.tekie.us/login] by logging with OTP using your registered phone number - <%= phoneNumber %> .<br/><br/>

Feel free to call us at (929) 284 2878, in case you have any doubts.<br/><br/>

Team Tekie
