Dear <%= parentName %>,<br/>

The sessions starts in 3 hour <%= sessionDateTime %>, Kindly join the with this link - <%= sessionLink %><br/><br/>

<% if (meetingId) { %>
  Meeting ID - <%= meetingId %><br/>
  Password - <%= meetingPassword %>
<% } %>

<span style='font-weight: bold'>Session 1</span>: Intro to Programming (Ep 1): Code your first program in Python<br/><br/>

Here's what you need to do to have an enjoyable and smooth session:<br/>
  1. The session starts at <%= startTime %> sharp, so it would be best to arrive 10 minutes before🕚<br/>
  2. Make sure you have a stable internet connection.You can access the session best with a laptop, computer or tablet💻<br/>
  3. Do install "google chrome" and "zoom app" in your system.<br/><br/>

Looking forward to having you with us!<br/><br/>

Team Tekie