Dear <%= parentName %>,

Congratulations! <%= studentName %>'s free coding class has been scheduled:

Timing: <%= sessionDateTime %>
<span style='font-weight: bold;'>Session 1</span>: Intro to Programming (Ep 1):
Code your first program in Python

Kindly join the class with the link you'll receive 3 hours before the class.

We request you to be ready 10 minutes before the class starts.

Need to reschedule this class? Do it with your app [https://www.tekie.us/login] by logging with OTP using your registered phone number - <%= phoneNumber %> .

Feel free to call us at (929) 284 2878.) in case you have any doubts.

Team Tekie
