Dear <%= parentName %>,

<%= studentName %>'s mentor for the free coding class would be <%= mentorName %>, reachable at <%= mentorPhoneNumber %>.

<%= mentorName %> is familiar with <span style='font-weight: bold'><%= codingLanguages %>, has <%= mentorExp %>+ years experience, and rated <%= mentorRating %>/5 by students.

Timing: <span style='font-weight: bold'><%= sessionDateTime %></span>

Kindly join the with this link - <%= sessionLink %>

Meeting ID - <%= meetingId %>
Password - <%= meetingPassword %>

We request you to be ready 10 minutes before the class starts. You can join from <span style='font-weight: bold'>laptop/PC/tablet</span> with <span style='font-weight: bold'>google chrome</span>, a stable <span style='font-weight: bold'>internet</span> connection, and <span style='font-weight: bold'>zoom installed</span>.

Looking forward to having you with us!

Team Tekie