Dear <%= parentName %>,

The sessions starts in 3 hour <%= sessionDateTime %>

Kindly join the with this link - <%= sessionLink %>

<% if (meetingId) { %>
  Meeting ID - <%= meetingId %>
  Password - <%= meetingPassword %>
<% } %>

<span style='font-weight: bold'>Session 1</span>: Intro to Programming (Ep 1):
Code your first program in Python

Here's what you need to do to have an enjoyable and smooth session:
  1. The session starts at <%= startTime %> sharp, so it would be best to arrive 10 minutes before🕚
  2. Make sure you have a stable internet connection.You can access the session best with a laptop, computer or tablet💻
  3. Do install "google chrome" and "zoom app" in your system.

Looking forward to having you with us!

Team Tekie