Dear <%= parentName %>,<br/><br/>

<%= studentName %>'s mentor for the free coding class would be <%= mentorName %>, reachable at <%= mentorPhoneNumber %>.<br/>

<%= mentorName %> is familiar with <span style='font-weight: bold'><%= codingLanguages %>, has <%= experienceYear %>+ years experience, and rated 4.95/5 by students.<br/>

Timing: <span style='font-weight: bold'><%= sessionDateTime %></span><br/>

Kindly join the with this link - <%= sessionLink %><br/>

<% if (meetingId) { %>
  Meeting ID - <%= meetingId %><br/>
  Password - <%= meetingPassword %>
<% } %><br/>

We request you to be ready 10 minutes before the class starts. You can join from <span style='font-weight: bold'>laptop/PC/tablet</span> with <span style='font-weight: bold'>google chrome</span>, a stable <span style='font-weight: bold'>internet</span> connection, and <span style='font-weight: bold'>zoom installed</span>.<br/>

Looking forward to having you with us!<br/><br/>

Team Tekie