Dear <%= parentName =>,

Our team tried contacting you to fix time & book the free coding class but unfortunately couldn't connect. But no worries! We would love to get <%= studentName %> started with our coding course at whatever day and time that works best for you! You can reschedule the class by selecting a date and time using the OTP that you will receive on your registered mobile number <%= phoneNumber %> : Get started 

To <span style='font-weight: bold'>book over call</span>, please feel free to call us on (929) 284 2878.

Team Tekie