Welcome to Tekie, your next steps!<br/><br/>

Hi <%= studentName %>, Thank you for signing up for Tekie's <span style='font-weight: bold'>Intro to Coding with Python!</span> At Tekie, we offer flexible coding classes with expert peer mentors to build a community of future innovators and entrepreneurs. In this course, we will help you master the fundamentals of programming in Python through our intuitive platform with 39 episodes from the world's first animated web-series on coding.<br/><br/>

You will be getting access to <span style='font-weight: bold'>3 free sessions</span>!<br/><br/>

Here's what you can expect in this trial period:<br/>

<span style='font-weight: bold'>Session 1</span>: Intro to Programming (Ep 1): Code your first program in Python<br/>
<span style='font-weight: bold'>Session 2</span>: Variables (Ep 2): Create & display a fantasy data directory<br/>
<span style='font-weight: bold'>Session 3</span>: Assignment Statements (Ep3): Program a passenger counting algorithm for train stations<br/>

So hurry up and book your first class: <a href="https://www.tekie.in/sessions/book">Get Started</a> <br/><br/>

<span style='font-weight: bold'>Questions?</span> Schedule a call. You can also reach us via text at (929) 284 2878.<br/><br/>

Kindly refer to the below attachments to know more about Tekie.<br/><br/>

Team Tekie<br/><br/>

Attachment 1: https://drive.google.com/file/d/1V_dJRaAYwBsE6PcHS0vakgQkcY9uo5L3/view?usp=sharing<br/>
Attachment 2: https://youtu.be/ToJ7gTZZjT4