<table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 30px; max-width: 920px; width: 100%; background-size: cover; background-repeat: no-repeat; background-image: url('https://tekie-backend.s3.amazonaws.com/python/email/welcomeToTekieBG.png'); background-color: white; background-position-y: top;">
	<tbody>
		<tr style="width: 100%;">
			<td align="center"><img height="72" src="https://tekie-backend.s3.amazonaws.com/python/email/tekieLogo.png" width="203" /></td>
		</tr>
		<tr style="width: 100%;">
			<td style="border-top: 45px solid transparent; width: 100%;">&nbsp;</td>
		</tr>
		<tr style="width: 100%; height: 100%;">
			<td style="width: 100%; height: 100%;">
			<table style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.7); padding: 30px; padding-top: 0px">
				<tbody>
					<tr align="left">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 33px solid transparent;">Hello <span class="mx-html-variable" unselectable="on"> <%= parentName %>  </span>,</td>
					</tr>
					<tr align="left">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 5px solid transparent;">Welcome to our growing community of more than 1000+ parents who use our platform to teach coding to their kids easily and more effectively. We&#39;re happy you&#39;re here!</td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 30px solid transparent;"><img src="https://tekie-backend.s3.amazonaws.com/python/email/howCanWeHelp.png" style="width: 100%; max-width: 574px;" /></td>
					</tr>
					<tr align="left">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 5px solid transparent; border-top: 30px solid transparent;">Watch a 4 minute video or read parent testimonials of how kids are learning real text-based coding the practical way.</td>
					</tr>
					<tr style="width: 100%;">
						<td align="center" style="width: 100%; border-top: 16px solid transparent;"><a href="https://www.youtube.com/watch?v=ToJ7gTZZjT4"><img src="https://tekie-backend.s3.amazonaws.com/python/email/videoThumbnail.png" style="max-width: 404px; width: 100%;" /> </a></td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 30px solid transparent;"><img src="https://tekie-backend.s3.amazonaws.com/python/email/nextSteps.png" style="width: 100%; max-width: 258px;" /></td>
					</tr>
					<tr align="left">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 25px solid transparent;">Our team will call you to fix time &amp; book the class within the next 24 hours based on your availability. If you hate calls, please book your session by choosing a time slot here.</td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 30px solid transparent; position: relative;"><a href="https://www.tekie.in/sessions?book-session=true" style="text-decoration: none;"><img src="https://tekie-backend.s3.amazonaws.com/python/email/bookTimings.png" width="165" /> </a></td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F;"><img src="https://tekie-backend.s3.amazonaws.com/python/email/questions.png" style="width: 100%; max-width: 151px;" /></td>
					</tr>
					<tr style="width: 100%;">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">Feel free to reach out to us at <span style="color: #00ADE6">+91 8827706789</span> or at <a href="mailto:hello@tekie.in" style="color: #00ADE6; text-decoration: none;">hello@tekie.in</a></td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; color: #504F4F; border-top: 30px solid transparent;"><img src="https://tekie-backend.s3.amazonaws.com/python/email/whoAreWe.png" style="width: 100%; max-width: 227px;" /></td>
					</tr>
					<tr style="width: 100%;">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">We&#39;re a team of people from IIT Delhi, IIM A, NITs, Intel, Google who are passionate about education and built (after three years of development)a first of its kind live coding platform for kids where learning meets great storytelling.</td>
					</tr>
					<tr style="width: 100%;">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 30px solid transparent; font-size: 18px; color: #504f4f;">See you there,</td>
					</tr>
					<tr style="width: 100%;">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-size: 18px; color: #504f4f;">The Tekie Team.</td>
					</tr>
					<tr style="width: 100%;">
						<td style="border-top: 15px solid transparent; width: 100%;">&nbsp;</td>
					</tr>
					<tr style="width: 100%;">
						<td style="border-bottom: 1px solid rgba(0,0,0,0.22); width: 100%;">&nbsp;</td>
					</tr>
					<tr style="width: 100%;">
						<td style="border-bottom: 15px solid transparent; width: 100%;">&nbsp;</td>
					</tr>
					<tr align="center">
						<td><img height="35" src="https://tekie-backend.s3.amazonaws.com/python/email/tekieLogo.png" width="102" /></td>
					</tr>
					<tr style="width: 100%;">
						<td style="border-top: 16px solid transparent; width: 100%;">&nbsp;</td>
					</tr>
					<tr align="center">
						<td><img src="https://tekie-backend.s3.amazonaws.com/python/email/footerflex.png" style="max-width: 515px; width: 100%" /></td>
					</tr>
					<tr style="width: 100%;">
						<td style="border-top: 24px solid transparent; width: 100%;">&nbsp;</td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;"><a href="https://www.tekie.in" style="color: #504F4F; text-decoration: none;">www.tekie.in</a></td>
					</tr>
					<tr>
						<td align="center" style="font-family: Nunito, Arial, Helvetica, sans-serif; font-weight: 300; font-size: 18px; color: #504F4F;">
						<table>
							<tbody>
								<tr align="center">
									<td style="border-right: 1px solid #504F4F; width: 62px; padding-right: 10px;"><a href="https://www.tekie.in/privacy" style="color: #504F4F;">Privacy</a></td>
									<td align="right" style="border-right: 1px solid #504F4F; width: 43px; padding-left: 10px; padding-right: 10px;"><a href="https://www.tekie.in/terms" style="color: #504F4F;">Terms</a></td>
									<td align="right" style=" padding-left: 5px;"><a href="https://www.tekie.in/refund" style="color: #504F4F;">Refunds</a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr align="center">
						<td style="font-family: Nunito, Arial, Helvetica, sans-serif; border-top: 15px solid transparent; font-size: 16px; color: #504f4f; font-style: italic; font-weight: 300; text-align: center;">
						<table style="width: 100%;">
							<tbody>
								<tr align="center">
									<td align="center">
									<p style="width: 100%; max-width: 260px;">Connect with us to stay updated with news around coding and more:</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr align="center">
						<td>
						<table style="width: 258px;">
							<tbody>
								<tr>
									<td style="width: 28px; height: 28px;"><a href="https://www.facebook.com/TekieApp/"><img height="28" src="https://tekie-backend.s3.amazonaws.com/python/email/facebook.png" width="28" /> </a></td>
									<td style="width: 28px; height: 28px;"><a href="https://www.instagram.com/tekieapp/"><img height="28" src="https://tekie-backend.s3.amazonaws.com/python/email/instagram.png" width="28" /> </a></td>
									<td style="width: 28px; height: 28px;"><a href="https://www.youtube.com/channel/UCCr7GPlTdZRXFEfveeuKcbg"><img height="19" src="https://tekie-backend.s3.amazonaws.com/python/email/youtube.png" width="28" /> </a></td>
									<td style="width: 28px; height: 28px;"><a href="https://www.linkedin.com/company/tekie/"><img height="28" src="https://tekie-backend.s3.amazonaws.com/python/email/linkedin.png" width="28" /> </a></td>
									<td style="width: 28px; height: 28px;"><a href="https://www.tekie.in"><img height="28" src="https://tekie-backend.s3.amazonaws.com/python/email/tekie.png" width="24" /> </a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
<o:cme></o:cme>